
html, body {
    display:flex;
    flex-direction: column ;
    background-color: aliceblue;
}
header{
    background-color: rgb(187, 51, 51);
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
}
main{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: rgb(58, 116, 224);
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    

}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(187, 51, 51);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#logo{
    width: 500px;
    margin: 25px;
}
#titulo{
    font-family: 'Alkatra', cursive;
    color: aliceblue;
}
#video{
    width: 50%;
    margin: 10px;

}
button{
    margin: 50px;
    width: 20%;
    color: blue;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;
}
p{
    width: 50%;
    margin: 5px;
    font-family: 'Alkatra', cursive;
    text-align: justify;
    color: aliceblue;
    font-size: 25px;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-family: 'Alkatra', cursive;
}